@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  background:#fff;
  font-family: 'Poppins', sans-serif;
  font-weight:900;
  font-size:9vw;
  color:#28a745;
  margin:0;
  padding:0;  
}

#mercadona {
  display: flex;
}

