
.discounted-price {
    font-weight: bold;
    color: red;
}

.line-through {
    text-decoration: line-through;
}

.card {
    width: 300px;
    height: 400px;
}

.picture {
    min-width: 300px;
    max-width: 100%;
    height: auto;
}