<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Mercadona - ADMIN</title>
        <meta charset="UTF-8" >        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <meta name="description" content="Mercadona retail, get all you want">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" >
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Mercadona - ADMIN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/catalog">Catalog <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Logout <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <h2 class="mt-5">Add a product</h2>
            <form class="mt-5">
                <div class="form-group">
                    <label for="label">Product label</label>
                    <input type="text" class="form-control" id="label" placeholder="Type the product label here (50 char max)" required>
                </div>
                <div class="form-group">
                    <label for="price">Product price (€)</label>
                    <input type="number" class="form-control" id="price" pattern="\d+" min="1" placeholder="Type the product price here" required>
                </div>
                <div class="form-group">
                    <label for="Description">Product description</label>
                    <textarea class="form-control" id="Description" rows="3" maxlength="500" placeholder="Type the product description here (500 char max)" required></textarea>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" id="category" required>
                        <-- Add Thymeleaf block !-->
                        <th:block th:each="category : ${listCategories}">                            
                            <option>[[${category.label}]]</option>
                        </th:block>
                    </select>
                </div>
<!--                <div class="form-group">
                    <label for="picture">Product picture</label>
                    <input type="file" class="form-control-file" id="picture" required>
                </div>-->
                <button type="submit" class="btn btn-primary">Add this product</button>
            </form>
        </div>
    </body>
