<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Mercadona</title>
        <meta charset="UTF-8" ></meta>       
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>        
        <meta name="description" content="Mercadona retail, get all you want"></meta>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" ></link>
        <link rel="stylesheet" type="text/css" th:href="@{css/main.css}" ></link>
    </head>
    <body class="d-flex flex-column">
        <header>
            <nav class="navbar navbar-expand navbar-dark bg-success">
                <a class="navbar-brand" href="/">Mercadona</a>
                <div class="ml-3" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/catalog">Catalog <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/admin">Manage <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="text-center mt-5">
            <h1>Something went wrong! </h1>
            <h2>Our Engineers are on it</h2>
            <a href="/">Go Home</a>
        </main>
    </body>
</html>