<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Mercadona</title>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Mercadona retail, get all you want">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" >
    </head>
    <body class="d-flex flex-column">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-success">
                <a class="navbar-brand" href="/">Mercadona</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/catalog">Catalog <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="container-fluid text-center mt-5">
            <img src="https://s2.qwant.com/thumbr/474x296/e/d/c5fb05a293cc970487dd12f0a2d277b90ee11aaf960a6a1d122a77cfc27ac1/th.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%3Fid%3DOIP.v-vfCygQt8ClBv2DOJGdrwHaEo%26pid%3DApi&q=0&b=1&p=0&a=0" alt="A lot of retail products">
        </main>

    </body>
</html>