<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Mercadona - ADMIN</title>
        <meta charset="UTF-8" ></meta>       
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>        
        <meta name="description" content="Mercadona retail, get all you want"></meta>
        <meta http-equiv="Content-Security-Policy" content="form-action 'self';">
            <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" ></link>
            <link rel="stylesheet" type="text/css" th:href="@{css/main.css}" ></link>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/admin">Mercadona - ADMIN</a>           
            <div class=" ml-3" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/catalog">Catalog <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid text-center mt-5">

            <div class="container">
                <h2 class="mt-5">Add a category</h2>
                <form class="mt-5" th:action="@{/admin/category/add}" th:object="${category}" method="post">
                    <div class="form-group  d-flex flex-column align-items-center">
                        <label for="label">Category label</label>
                        <input th:field="*{label}" type="text" class="form-control col-5  text-center align-self" id="label" placeholder="Type the category label here (50 char max)" required>
                            <span class="text-danger" th:if="${#fields.hasErrors('label')}" th:errors="*{label}" >Error</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Add this category</button>
                </form>
            </div>

            <h2 class="mt-5">Category list</h2>
            <div class="d-flex justify-content-center">
                <table class="col-4 table table-bordered shadow-lg mt-5 table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Label</th>
                            <th scope="col" colspan="3">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each = "category : ${categoryList}">
                            <td th:text = "${category.label}"></td>
                            <td class="col-lg-4" >
                                <a th:href = "@{/admin/category/edit/{id}(id=${category.id})}" class="btn btn-primary mb-3">Update category</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>