<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Mercadona - catalog</title>
        <meta charset="UTF-8" ></meta>       
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>        
        <meta name="description" content="Mercadona retail, get all you want"></meta>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" ></link>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" ></link>
        <script type="text/javascript" th:src="@{/js/catalog.js}" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand" href="/">Mercadona</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">Login <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid text-center mt-5">
            <!--<form class="mt-5 col-5 m-auto" action="" th:object="${category}" method="get">-->
                <div class="d-flex flex-column align-items-center form-group mb-5">
                    <label for="category">Filter by category</label>
                    <select field="*{category}" class="col-3 form-control mr-2" id="category" name="category" required>
                        <option value="All">All</option>
                        <option th:each="category : ${listCategories}" th:value="${category.label}" th:text="${category.label}"></option>
                    </select>
                    <!--<button type="submit" class="col-3 btn btn-success">Apply category filter</button>-->
                </div>
            <!--</form>-->
            <h2>Our products</h2>
            <div class="d-flex mt-5 justify-content-center mt-5">
                <th:block th:each="product: ${currentProductList}">
                    <div class="card rounded shadow col-sm-2 m-3" style="width: 18rem;">
                        <img th:src="@{${product.url}}" class="card-img-top" alt="product picture"></img>
                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-body-secondary">[[${product.label}]]</h5>
                            <th:block th:if="${product.discountPrice != product.price}">
                                <h4 class="card-title discounted-price">Discount price: [[${product.discountPrice}]]€</h4>
                            </th:block>
                            <h5 class="card-title" th:class="product.discountPrice == null ? 'card-title line-through' : 'card-title'">Price [[${product.price}]]€</h5>
                            <p class="card-text">[[${product.description}]]</p>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </body>
</html>
