<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Mercadona - ADMIN</title>
        <meta charset="UTF-8" ></meta>       
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>        
        <meta name="description" content="Mercadona retail, get all you want"></meta>
        <meta http-equiv="Content-Security-Policy" content="form-action 'self';">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" ></link>
        <link rel="stylesheet" type="text/css" th:href="@{css/main.css}" ></link>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-primary">
            <a class="navbar-brand brand" href="/admin">Mercadona - ADMIN</a>
            <div class="ml-3" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/catalog">Catalog <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container text-center d-flex flex-column align-items-center mt-5">
            <h2 class="mt-5">Add a product</h2>
            <form class="col-12 col-sm-8 mt-5" th:action="@{/admin/product/update/{id}(id=${product.id})}" th:object="${product}" method="post">
                <div class="form-group">
                    <label for="label">Product label</label>
                    <input th:field="*{label}" type="text" class="form-control" id="label" placeholder="Type the product label here (50 char max)" required>
                        <span class="text-danger" th:if="${#fields.hasErrors('label')}" th:errors="*{label}" >Error</span>
                </div>
                <div class="form-group">
                    <label for="price">Product price (€)</label>
                    <input th:field="*{price}" type="number" class="form-control" id="price" step=".01" pattern="\d+" min="0.01" placeholder="Type the product price here" required>
                        <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}" >Error</span>
                </div>
                <div class="form-group">
                    <label for="Description">Product description</label>
                    <textarea th:field="*{description}" class="form-control" id="Description" rows="3" maxlength="150" placeholder="Type the product description here (150 char max)" required></textarea>
                    <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" >Error</span>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select th:field="*{category}" class="form-control" id="category" required>
                        <option th:each="category : ${listCategory}" th:value="${category.id}" th:text="${category.label}"></option>
                    </select>
                    <span class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}" >Error</span>
                </div>
                <input th:field="*{url}" type="hidden" class="form-control" id="url" required>
                    <span class="text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}" >Error</span>
                    <input th:field="*{discounts}" type="hidden" class="form-control" id="discounts" required>
                        <span class="text-danger" th:if="${#fields.hasErrors('discounts')}" th:errors="*{discounts}" >Error</span>
                        <button type="submit" class="btn btn-warning">Update this product</button>
                        </form>
                        </div>
                        </body>